<p-panel header="Pipes personalizados" class="p-1">
  <p>
    Pipes personalizados - creados por {{ 'nosotros' | toggleCase:isUpperCase }}
  </p>
</p-panel>

<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-button
        label="ToogleCase"
        icon="pi pi-search"
        (click)="toggleUpperCase()"
      ></p-button>
  </div>

  <div class="p-toolbar-group-end">

      <p-button class="mr-2"
                (onClick)="changeOrder('name')"
                label="Por nombre"
                icon="pi pi-sort"
                styleClass="p-button-success">
      </p-button>

      <p-button class="mr-2"
                (onClick)="changeOrder('canFly')"
                label="Por volar"
                icon="pi pi-sort"
                styleClass="p-button-danger">
      </p-button>

      <p-button class="mr-2"
                (onClick)="changeOrder('color')"
                label="Por color"
                icon="pi pi-sort"
                styleClass="p-button-help">
      </p-button>
  </div>
</p-toolbar>


<div class="grid">
  <div class="col mt-2">
      <p-panel header="Héroes">
          <p-table [value]="heroes | sortBy:orderBy" [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre</th>
                    <th>Vuela</th>
                    <th>Color</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-hero>
                <tr>
                    <td>{{ hero.name }}</td>
                    <td>{{ hero.canFly | canFly | titlecase }}</td>
                    <td>{{ hero.color }}</td>
                </tr>
            </ng-template>
          </p-table>
      </p-panel>

  </div>
</div>
